

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">
        <p><span><img src="/assets/aperçu-bleu-menu-icon.png" style="height: 50px;" >
            <a routerLink ="/apercu">Aperçu</a></span></p>
        <p><span> <img src="/assets/ventes-blue-menu-icon.png" style="height: 50px;">
            <a routerLink ="/ventes">Ventes</a></span></p>

        <p><span><img src="/assets/analyses-gris-menu-icon.png" style="height: 50px;">
            <a routerLink ="/analyses">  Analyses</a></span></p>

        </mat-sidenav>
       
</mat-sidenav-container>
  